*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box{
    background-color: #000;
    color: aliceblue;
    height: 300px;
    width:350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card {
    text-align: center;
    margin-top: 4px;
}
.card button{
    margin-top: 5px;
    padding: 4px 20px;
    border-radius: 10px;
    font-weight:700;
}

.card  h3{
    color: red;
}
