*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 51, 51);

}
button{
    padding: 15px 20px;
    color: antiquewhite;
    background-color: rgb(15, 149, 51);
    border: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
    position: relative;
    z-index: 8;
}
button:active{
    scale: 0.95;
}
